/vendor/
/node_modules/
/modules/*/vendor/
/modules/*/.phpunit.cache/
/apps/*/vendor/
/apps/*/node_modules/
/packages/*/node_modules/
/apps/*/.env
/apps/*/storage/logs/*
/apps/*/storage/framework/cache/data/*
/apps/*/storage/framework/sessions/*
/apps/*/storage/framework/views/*
/apps/*/bootstrap/cache/*
.phpunit.result.cache
.phpunit.cache/
.phpstan-cache/
composer.lock
.DS_Store
.idea/
.vscode/
.env
.env.*
!.env.example
docker/postgres/data/
docker/redis/data/
